@blueMain: #2F87E3;
@blueLight: #4EA5FF;
@blueDark: #105296;
@accentColor: #24826b;
@titleFont: 'Bungee', cursive;
@articleFont: 'Open Sans', sans-serif;

.titleShadow(@font,@color) {
    font-family: @font;
    text-shadow: 2px 2px 4px @color;
}

.linkStyling(@color, @pad) {
    text-decoration-line: none;
    padding: @pad;
    color: @color;
}

.setBgPhoto(@url, @posVert, @posHoriz) {
    background-image: url(@url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: @posVert @posHoriz;
}

.centreItems() {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body {
    font-family: @articleFont;
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    margin: 0;
    height: 100vh;

    background-color: #FCFAFA;
    /* background by SVGBackgrounds.com */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 200 200'%3E%3Cg fill='none' stroke='%23d4d6db' stroke-width='1' stroke-opacity='0.2'%3E%3Crect x='-40' y='40' width='75' height='75'/%3E%3Crect x='-35' y='45' width='65' height='65'/%3E%3Crect x='-30' y='50' width='55' height='55'/%3E%3Crect x='-25' y='55' width='45' height='45'/%3E%3Crect x='-20' y='60' width='35' height='35'/%3E%3Crect x='-15' y='65' width='25' height='25'/%3E%3Crect x='-10' y='70' width='15' height='15'/%3E%3Crect x='-5' y='75' width='5' height='5'/%3E%3Crect width='35' height='35'/%3E%3Crect x='5' y='5' width='25' height='25'/%3E%3Crect x='10' y='10' width='15' height='15'/%3E%3Crect x='15' y='15' width='5' height='5'/%3E%3Crect x='40' width='75' height='75'/%3E%3Crect x='45' y='5' width='65' height='65'/%3E%3Crect x='50' y='10' width='55' height='55'/%3E%3Crect x='55' y='15' width='45' height='45'/%3E%3Crect x='60' y='20' width='35' height='35'/%3E%3Crect x='65' y='25' width='25' height='25'/%3E%3Crect x='70' y='30' width='15' height='15'/%3E%3Crect x='75' y='35' width='5' height='5'/%3E%3Crect x='40' y='80' width='35' height='35'/%3E%3Crect x='45' y='85' width='25' height='25'/%3E%3Crect x='50' y='90' width='15' height='15'/%3E%3Crect x='55' y='95' width='5' height='5'/%3E%3Crect x='120' y='-40' width='75' height='75'/%3E%3Crect x='125' y='-35' width='65' height='65'/%3E%3Crect x='130' y='-30' width='55' height='55'/%3E%3Crect x='135' y='-25' width='45' height='45'/%3E%3Crect x='140' y='-20' width='35' height='35'/%3E%3Crect x='145' y='-15' width='25' height='25'/%3E%3Crect x='150' y='-10' width='15' height='15'/%3E%3Crect x='155' y='-5' width='5' height='5'/%3E%3Crect x='120' y='40' width='35' height='35'/%3E%3Crect x='125' y='45' width='25' height='25'/%3E%3Crect x='130' y='50' width='15' height='15'/%3E%3Crect x='135' y='55' width='5' height='5'/%3E%3Crect y='120' width='75' height='75'/%3E%3Crect x='5' y='125' width='65' height='65'/%3E%3Crect x='10' y='130' width='55' height='55'/%3E%3Crect x='15' y='135' width='45' height='45'/%3E%3Crect x='20' y='140' width='35' height='35'/%3E%3Crect x='25' y='145' width='25' height='25'/%3E%3Crect x='30' y='150' width='15' height='15'/%3E%3Crect x='35' y='155' width='5' height='5'/%3E%3Crect x='200' y='120' width='75' height='75'/%3E%3Crect x='40' y='200' width='75' height='75'/%3E%3Crect x='80' y='80' width='75' height='75'/%3E%3Crect x='85' y='85' width='65' height='65'/%3E%3Crect x='90' y='90' width='55' height='55'/%3E%3Crect x='95' y='95' width='45' height='45'/%3E%3Crect x='100' y='100' width='35' height='35'/%3E%3Crect x='105' y='105' width='25' height='25'/%3E%3Crect x='110' y='110' width='15' height='15'/%3E%3Crect x='115' y='115' width='5' height='5'/%3E%3Crect x='80' y='160' width='35' height='35'/%3E%3Crect x='85' y='165' width='25' height='25'/%3E%3Crect x='90' y='170' width='15' height='15'/%3E%3Crect x='95' y='175' width='5' height='5'/%3E%3Crect x='120' y='160' width='75' height='75'/%3E%3Crect x='125' y='165' width='65' height='65'/%3E%3Crect x='130' y='170' width='55' height='55'/%3E%3Crect x='135' y='175' width='45' height='45'/%3E%3Crect x='140' y='180' width='35' height='35'/%3E%3Crect x='145' y='185' width='25' height='25'/%3E%3Crect x='150' y='190' width='15' height='15'/%3E%3Crect x='155' y='195' width='5' height='5'/%3E%3Crect x='160' y='40' width='75' height='75'/%3E%3Crect x='165' y='45' width='65' height='65'/%3E%3Crect x='170' y='50' width='55' height='55'/%3E%3Crect x='175' y='55' width='45' height='45'/%3E%3Crect x='180' y='60' width='35' height='35'/%3E%3Crect x='185' y='65' width='25' height='25'/%3E%3Crect x='190' y='70' width='15' height='15'/%3E%3Crect x='195' y='75' width='5' height='5'/%3E%3Crect x='160' y='120' width='35' height='35'/%3E%3Crect x='165' y='125' width='25' height='25'/%3E%3Crect x='170' y='130' width='15' height='15'/%3E%3Crect x='175' y='135' width='5' height='5'/%3E%3Crect x='200' y='200' width='35' height='35'/%3E%3Crect x='200' width='35' height='35'/%3E%3Crect y='200' width='35' height='35'/%3E%3C/g%3E%3C/svg%3E");
    background-size: auto auto;
    background-position: center;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: @blueMain;
    font-family: @titleFont;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    >a {
        text-decoration-line: none;
        color: black;
        >h1 {
            font-size: 3em;
            line-height: 1.2em;
            margin: 0.3em 0.2em;
            .titleShadow(@titleFont,white);
        }
    }
    nav {
        align-self: center;
        > ul {
            >label, >input { display: none; }
            display: flex;
            justify-content: space-evenly;
            list-style: none;
            >li >a {
                .linkStyling(darken(@blueDark, 15%), 1em);
                &:hover { text-decoration-line: underline; }
            }
            >li >button {
                .titleShadow(@titleFont, lightgrey);
                color: darken(@blueDark, 15%);
                background-color: transparent;
                cursor: pointer;
                border: none;
                font-size: 1em;
                &:hover { text-decoration-line: underline; }
            }

            #registerBtn {
                color: white;
                font-size: 12pt;
                background-color: lighten(@accentColor, 5%);
                padding: 0.6em 1em;
                border: 1px solid #ccc;
                float: right;
                font-family: Arial, Helvetica, sans-serif;
            }

            // Login code adapted from W3Schools: How To Create a Modal Login Form
            input[type=text], input[type=password] {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                box-sizing: border-box;
            }

            #remember {
                font-family: Arial, Helvetica, sans-serif;
            }

            button[type=submit] {
                background-color: darken(@blueMain, 5%);
                font-size: 12pt;
                letter-spacing: 0.1em;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
                width: 100%;
            }

            .container {
                padding: 1em;
            }

            .login, .notice {
                display: none;
                position: fixed;
                z-index: 1;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                padding-top: 60px;
            }

            .login-content {
                background-color: #fefefe;
                margin: 5% auto 15% auto;
                border: 3px solid #888;
                width: 80%;
            }

            .register {
                display: none;
            }
        } //end ul
    }//end nav
    @media (max-width: 1280px) {
        position: static;
    }
    @media (max-width: 1150px) {
        flex-wrap: wrap;
        justify-content: center;
        >nav >ul, >h1 { margin: 0.2em; }
    }
    @media (max-width: 630px) {
        >h1 { margin: 0; }
        >nav >ul {
            flex-wrap: wrap;
            align-items: center;
            margin: 0;
            >label {
                display: flex;
                cursor: pointer;
                font-size: 1.5em;
                padding: 0 0.7em;
            }
            >li {
                max-height: 0;
                overflow: hidden;
                transform: rotateX(90deg);
                transition: all 0.5s;
                >a { padding: 0 1em; }
            }
            >input:checked ~ li {
                max-height: 100%;
                transform: rotateX(0);
            }
            @media (max-width: 415px) {
                margin-left: -2em;
            }
        }
    } //end media query
}//end header

.articleContainer {
    display: grid;
    margin: 1em 10em;
    grid-gap: 1.5em;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    @media (max-width: 1280px) {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-gap: 0.75em;
        margin: 1em 5em;

    }
    >a {.linkStyling(black, 0);}

    div[class^="article"] {
        width: 95%;
        border: lightgray 1px solid;
        box-shadow: 2px 2px 5px gray;
        transition: all 0.5s;
        background-color: white;
        &:hover {
            transform: translate(0, -3%);
        }
    }
    .articlePhoto {
        width: 100%;
    }
    .cardInfo {
        margin: 1em;
        >h3{ margin: 0.2em 0; }
    }
}

.coolEats {
    margin: 4em 10em;
    .cardInfo {
        >* { text-align: center; }
        >p {
            font-style: italic;
            margin: 0;
        }
    }
}

.eventList {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5em;
    margin: 4em 10em;
    @media(max-width: 900px) { margin: 4em 5em; }
    @media(max-width: 750px) { margin: 4em 1em; }

    .article {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        border: lightgray 1px solid;
        box-shadow: 2px 2px 5px gray;
        background-color: white;
        @media(max-width: 460px) { grid-template-columns: 1fr; }

        img {
            width: 100%;
            place-self: center;
        }
        .cardInfo {
            text-align: center;
            .title {
                color: @accentColor;
                font-size: 2em;
            }
        }
    }

}

.updateContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    @media (max-width: 750px) {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    >a { .linkStyling(black, 0); }
    div[class^="update"] {
        min-height: 250px;
        cursor: pointer;
        .centreItems();
        >h3 {
            transform: translate(0,30%);
            background: white;
            padding: 0.2em;
            transition: all 1s;
        }
        &:hover {
            >h3 { transform: translate(0, -20%); }
        }
    }
    .updateList1 { .setBgPhoto("https://source.unsplash.com/epEr6ewYufY", center, center); }
    .updateList2 { .setBgPhoto("https://source.unsplash.com/OGkfxLwtFVo", center, left); }
    .updateList3 { .setBgPhoto("https://source.unsplash.com/P16wdcyEK9c", center, center); }
    .updateList4 { .setBgPhoto("https://source.unsplash.com/CwPO8Fr8914", center, right);}

}


main {
    @media (max-width: 1280px) {
        margin-top: 0;
    }
    @media (max-width: 1250px) {
        grid-template-columns: 0fr 1fr 1fr 0fr;
    }

    margin-top: 6em;
    display: grid;
    grid-template-columns: 0.5fr 2.5fr 2.5fr 0.5fr;

    >.coverContainer {
        grid-column: 2 / span 1;
        .setBgPhoto("https://source.unsplash.com/HG5QX-GXV5A", bottom, right);
        @media (max-width: 415px) {
            grid-column: 2 / span 2;
            height: 415px;
        }
    }

    >.articleContainer {
        @media (max-width: 415px) {
            grid-column: 2 / span 2;
            max-height: none;
            justify-content: center;
        }
        margin: 1em;
        grid-column: 3 / span 1;
        max-height: 1000px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    >.bannerPhotoContainer {
        grid-column: e("1 / -1");
        height: 100vh;
        width: 100%;
        background-attachment: fixed;
        .setBgPhoto("http://source.unsplash.com/LZW0kGvg5jo", center, center);
    }

    >.para {
        grid-column: e("1 / -1");
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }

    >.title { grid-column: 2 / span 1; }
    >.content { grid-column: 3 / span 1; }
    >.about {
        margin: 3em 0;
        justify-self: center;
        >h1 {
            color: @accentColor;
            font-size: 4em;
            .titleShadow(@articleFont, black);
        }
        >p { font-size: 1.5em; }
        >p >span { font-weight: bold; }
        >h2 {
            color: @accentColor;
            font-size: 2em;
            margin-top: 1.5em;
        }
        >ul {
            >li {
                font-size: 1.5em;
                >a {
                    color: black;
                    text-decoration-line: none;
                    &:hover { color: @blueDark; }
                }
            }
        }
        @media (max-width: 540px) {
            grid-column: 2 / span 2;
            margin: 0 0.8em;
        }
    }
} //end main

.main2 {
    >.coverContainer, >.bannerPhotoContainer {
        height: 100vh;
        width: 100%;
        background-attachment: fixed;
        .centreItems();

        >h1 {
            background: white;
            letter-spacing: 0.1em;
            padding: 0.4em;
            color: darken(@accentColor, 10%);
        }
    }
    >.news {
        .setBgPhoto("http://source.unsplash.com/Wyohw2iIIks", bottom, right);
    }
    >.blog {
        .setBgPhoto("http://source.unsplash.com/uTTABF3mSpc", top, center);
    }
    >.history {
        .setBgPhoto("http://source.unsplash.com/collection/2363275/daily", top, center);
    }
    >.news2 {
        .setBgPhoto("http://source.unsplash.com/DRbE0x-cxcI", bottom, right);
    }
    >.blog2 {
        .setBgPhoto("http://source.unsplash.com/IlnF2g_3tpY", center, center);
    }
    >.history2 {
        .setBgPhoto("http://source.unsplash.com/5asWYCWh9NE", bottom, center);
    }
}

.banner {
    grid-column: e("1 / -1");
    height: 20em;
    margin: 0;
    background-color: @accentColor;
    display: inline-block;
    color: white;
    .centreItems();
    >h1 {
        .titleShadow(@articleFont, grey);
        z-index: 1;
    }
    >img {
        width: 6em;
        transform: translate(-20%, 0);
    }
}

aside {
    margin: 3em 0;
    font-family: @articleFont;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr 1fr 0.5fr;
    grid-template-areas:
        ".  main   blurb   blurb   ."
        ".  main   form    form  .";

    @media (max-width: 900px) {
        grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
        grid-template-areas:
            ".  main   main     ."
            ".  blurb  blurb    ."
            ".  form   form   .";
    }

    #subscribeTitle {
        .titleShadow(@titleFont, black);
        font-size: 1.5em;
        grid-area: main;
        place-self: center right;
        line-height: 1.7em;
        margin: 1em;
        >span {
            font-size: 2em;
            display: block;
        }
        @media (max-width: 900px) { place-self: center; }
    }

    >p {
        grid-area: blurb;
        margin-bottom: 1em;
        margin-left: 1em;
        place-self: end left;
        @media (max-width: 900px) { place-self: center; }

    }

    >form {
        grid-area: form;
        display: flex;

        > * {
            font-size: 12pt;
            height: 2em;
        }
        input[type="text"] {
            margin-left: 1em;
            flex-grow: 1.5;
            color: darken(grey, 20%);
        }
        input[type="submit"] {
            margin-left: 0.3em;
            width: 7em;
            background-color: @blueMain;
            text-transform: uppercase;
            font-weight: bold;
            border-radius: 0.3em;
        }
    }

    @media (max-width: 415px) {
        margin-left: -2em;
        #subscribeTitle {
            >span {font-size: 1.7em;}
        }
    }
}

footer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: 0.5em;
    height:7em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    >.socialMedia {
        place-self: center center;
        >a >img { width: 2em; }
    }
    >p {
        place-self: center left;
        font-size: 0.8em;
    }
    >.about {
        place-self: center right;
        >a {
            .linkStyling(black, 1em);
            font-weight: bold;
        }
    }
}

.para {
    @media (max-width: 1280px) {
        margin: 7% 20%;
    }
    margin: 6em 20% 7%;
    font-size: 1.5em;
    span { font-style: italic; }
    align-self: center;
    >img {
        width: 100%;
        margin-bottom: 2em;
    }
    >a, >form >input[type="submit"] {
        .linkStyling(@blueDark, 0.4em);
        border: @blueDark 3px solid;
        border-radius: 20px;
        font-size: 0.9em;
        box-shadow: 5px 5px 5px @accentColor;
        background-color: white;
        &:hover {
            font-weight: bold;
            border: @blueDark 4px solid;
        }
    }
    >form {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0.7em;
        >.label {
            display: grid;
            grid-template-columns: 0.5fr 1fr;
            >input { justify-content: stretch; }
        }
        >input[type="submit"] {
            justify-self: center;
            padding: 0.6em;
        }
        >textarea, .label >input { font-family: @articleFont; }
    }
}

article {
    @media (max-width: 1280px) {
        margin-top: 0;
    }

    margin-top: 6em;
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.3fr;
    font-family: @articleFont;
    grid-gap: 0.5em;
    > * {
        grid-column: e("2 / -2");
    }
    >img { width: 100%; }
    >h1 {
        text-align: center;
        font-family: @titleFont;
        font-size: 4em;
        line-height: 1em;
    }
    >.credit {
        display: flex;
        justify-content: space-between;
        font-size: 0.7em;
    }
    >p {
        line-height: 2em;
        margin: 3em 0;
    }

    >.share {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: e("1 / 1");
        position: fixed;
        margin-left: 1em;

        @socialColors: #3b5999 #aa4299 #0077B5 #dd4b39;
        .social(@n, @i: 1) when (@i =< @n) {
            #social@{i} {
                width: 3.5em;
                @color: extract(@socialColors, @i);
                background-color: @color;
                border-radius: 2.5em;
            }
            .social(@n, (@i + 1));
        }
        >a { .social(4); }
        >p {
            font-weight: bold;
            background-color: white;
            padding-left: 5%;
        }

        @media (max-width: 830px) {
            grid-template-columns: repeat(auto-fit, minmax(3.5em, 1fr));
            grid-column: e("2 / 2");
            position: relative;
            justify-items: center;
        }
    } //end share

    @media (max-width: 650px) {
        grid-template-columns: 0.1fr 1fr 0.1fr;

        >img { grid-column: e("1 / -1"); }
        >h1 { font-size: 3em; }
    }
} //end article