<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" href="style.less">
    <link href="https://fonts.googleapis.com/css?family=Bungee|Open+Sans" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
    <script src="./JS/index.js" type="text/javascript" defer></script>
    <script src="less.js" type="text/javascript"></script>
    <title>The Dzungarian Timez</title>
</head>
<body>
    {{ include('header.html.twig') }}

    <main>
        <div class="about title">
            <h1>About</h1>
        </div>

        <div class="about content">
            <p>
                The Dzungarian Timez is an online magazine for travelers. We put the
                spotlight on the latest events, travel news, historical findings, and
                information guides around the Dzungarian Gate. Everything is in one
                place so that you will always be in the know. We're here to make planning
                your time as easy as 1, 2, 3!
            </p>
            <p>We also feature stories written by you!</p>

            <h2>Team</h2>
            <p>
                The Dzungarian Timez is brought to you by a passionate group that like
                to explore, educate, and excite:
            </p>
            <ul>
                <li>Kiesha Herman, Editor</li>
                <li>Colin Parry, Photographer</li>
                <li>Alan Stewart, Reporter</li>
                <li>Lillian Clark, Reporter</li>
                <li>Jessica Harris, Reporter</li>
                <li>Linda Morgain, Reporter</li>
                <li>Carol Murphy, Reporter</li>
                <li>Nicholas Henderson, Reporter</li>
            </ul>

            <h2 id="contact">Contact</h2>
            <p>Contact us via social media or drop us a line at <a href="mailto:info@dzungariantimez.com">info@DzungarianTimez.com</a></p>
        </div>
        {% set bannerTitle = "Let's Get To Know Each Other" %}
        {% set bannerIconSrc = "icons/speechBubbles.png" %}
        {{ include('banner.html.twig') }}
    </main>

    {{ include('subscribe.html.twig') }}

    {{ include('footer.html.twig') }}
</body>
</html>