<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" href="style.less">
    <link href="https://fonts.googleapis.com/css?family=Bungee|Open+Sans" rel="stylesheet">
    <script src="less.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
    <script src="./JS/index.js" type="text/javascript" defer></script>
    <title>The Dzungarian Timez</title>
</head>
<body>

    {{ include('header.html.twig') }}

    <article>
        {% for info in article %}
            <h1>{{ info.title }}</h1>
            <div class="share">
                <p id="shares"><span>{{ info.shares }}</span> shares</p>
                <a href="http://www.facebook.com" target="_blank"><img src="icons/facebook.png" id="social1" alt="facebook"></a>
                <a href="http://www.instagram.com" target="_blank"><img src="icons/instagram.png" id="social2" alt="instagram"></a>
                <a href="http://www.twitter.com" target="_blank"><img src="icons/twitter.png" id="social3" alt="twitter"></a>
                <a href="http://plus.google.com" target="_blank"><img src="icons/googleplus.png" id="social4" alt="googleplus"></a>
            </div>
            <div class="credit">
                <h2>By {{ info.author }}</h2>
                <h2>{{ info.dates }} </h2>
            </div>
            <img src="https://source.unsplash.com/{{ info.photoId }}" alt="photo">
            <p> {{ info.content }} </p>
        {% endfor %}
    </article>

    {% set bannerTitle = "When Stories Come To Life." %}
    {% set bannerIconSrc = "icons/folded-map.png" %}
    {{ include('banner.html.twig') }}

    {{ include('subscribe.html.twig') }}

    {{ include('footer.html.twig') }}

</body>
</html>