{% for articles in articleHighlights %}
<a href="./article.php?title={{ articles.title | url_encode }}">
    <div class="article">
        <img class="articlePhoto" src="https://source.unsplash.com/{{ articles.photoId }}" alt="photo">
        <div class="cardInfo">
            <h3 class="title">{{ articles.title }}</h3>
            <p class="title">
                {{ articles.highlight }} ...
            </p>
        </div>
    </div>
</a>
{% endfor %}