<div class="articleContainer coolEats">
    {% for food in foodPhotos %}
    <a href="#">
        <div class="article">
            <img class="articlePhoto" src="https://source.unsplash.com/{{ food.photoId }}" alt="photo">
            <div class="cardInfo">
                <h3 class="title">{{ food.restaurant }}</h3>
                <p class="title">
                    {{ food.meal }}
                </p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>