<footer>
    <p>Dzungarian Timez<br>Copyright &COPY; 2018</p>
    <div class="socialMedia">
        <a href="http://www.facebook.com" target="_blank"><img src="icons/facebook.png" alt="facebook"></a>
        <a href="http://www.instagram.com" target="_blank"><img src="icons/instagram.png" alt="instagram"></a>
        <a href="http://www.twitter.com" target="_blank"><img src="icons/twitter.png" alt="twitter"></a>
        <a href="http://plus.google.com" target="_blank"><img src="icons/googleplus.png" alt="googleplus"></a>
    </div>
    <div class="about">
        <a href="./index.php?about#contact">Contact</a>
        <a href="./index.php?resources">Resources</a>
    </div>
</footer>