<header>
    <a href="./index.php">
        <h1>The Dzungarian Timez</h1>
    </a>
    <nav>
        <ul>
            <input type="checkbox" id="menu">
            <label for="menu">☰ Menu</label>
            <li><button id="loginBtn">
                {% if login == false %}
                Login
                {% else %}
                Logout
                {% endif %}
            </button></li>

            {# Login code adapted from W3Schools: How To Create a Modal Login Form #}
            <div class="login">
                <form class="login-content signin" action="./submit.php?type=login" method="post">
                    <div class="container">
                        <label for="uname">Username</label>
                        <input type="text" placeholder="Enter Username" name="uname" required>

                        <label for="psw">Password</label>
                        <input type="password" placeholder="Enter Password" name="psw" required>

                        <button type="submit">Login</button>
                        <label id="remember">
                            <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                        <button id="registerBtn" type="button">Register</button>
                    </div>
                </form>
                <form class="login-content register" action="./submit.php?type=register" method="post">
                    <div class="container">
                        <label for="uname">Username</label>
                        <input type="text" name="uname" required>

                        <label for="psw">Password</label>
                        <input type="password" name="psw" required>

                        <label for="fname">First Name</label>
                        <input type="text" name="fname" required>

                        <label for="lname">Last Name</label>
                        <input type="text" name="fname" required>

                        <input type="radio" name="gender" id="male" checked>
                        <label for="male">Male</label>
                        <input type="radio" name="gender" id="female">
                        <label for="female">Female</label>

                        <button id="registerSubmit" type="submit">Register</button>
                    </div>
                </form>

            </div>
            <div class="notice"><div class="login-content container">
                <label>You have been logged out</label>
            </div></div>

            <li><a href="./news.php?type=newsArticles">News</a></li>
            <li><a href="./news.php?type=historyArticles">Historical</a></li>
            <li><a href="./news.php?type=blogArticles">Traveler</a></li>
            <li><a href="./local.php">Local</a></li>
            <li><a href="./index.php?about">About</a></li>
        </ul>
    </nav>
</header>

