<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" href="style.less">
    <link href="https://fonts.googleapis.com/css?family=Bungee|Open+Sans" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
    <script src="./JS/index.js" type="text/javascript" defer></script>
    <script src="less.js" type="text/javascript"></script>
    <title>The Dzungarian Timez</title>
</head>
<body>

    {{ include('header.html.twig') }}

    <main>
        <div class="coverContainer">

        </div>

        <div class="articleContainer">
            {{ include('articleHighlight.html.twig') }}
        </div>

        {% set bannerTitle = "Discover A Whole New World." %}
        {% set bannerIconSrc = "icons/camera-shutter.png" %}
        {{ include('banner.html.twig') }}

        <div class="bannerPhotoContainer">

        </div>

        <div class="para">
            <p>
                Keep it fresh with the Dzungarian Timez. Register for a login to get
                the all the exclusive info. This includes, news, events, historical
                articles, travel stories, and more! Click login at the top of the page
                to register or login to start.
            </p>
        </div>

    </main>

    {{ include('subscribe.html.twig') }}

    {{ include('footer.html.twig') }}

</body>
</html>