<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" href="style.less">
    <link href="https://fonts.googleapis.com/css?family=Bungee|Open+Sans" rel="stylesheet">
    <script src="less.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
    <script src="./JS/index.js" type="text/javascript"></script>
    <script src="./JS/local.js" type="text/javascript" defer></script>
    <title>The Dzungarian Timez</title>
</head>
<body>
    {{ include('header.html.twig') }}

    <div class="main2">

        {{ include('updateMenu.html.twig') }}
        <div class="page"></div>

    </div>

    {{ include('subscribe.html.twig') }}

    {{ include('footer.html.twig') }}
</body>
</html>