<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" href="style.less">
    <link href="https://fonts.googleapis.com/css?family=Bungee|Open+Sans" rel="stylesheet">
    <script src="less.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
    <script src="./JS/index.js" type="text/javascript" defer></script>
    <title>The Dzungarian Timez</title>
</head>
<body>

    {{ include('header.html.twig') }}

    <div class="main2">
        {% if type == "newsArticles" %}
            {% set title = "Hello Dzungarian" %}
            {% set class = "news" %}
            {% set bannerTitle = "No Ordinary City." %}
            {% set bannerIconSrc = "icons/coffee.png" %}
        {% elseif type == "blogArticles" %}
            {% set title = "Travel Makes The Heart Grow Fonder" %}
            {% set class = "blog" %}
            {% set bannerTitle = "Unique At Every Corner." %}
            {% set bannerIconSrc = "icons/signs.png" %}
        {% elseif type == "historyArticles" %}
            {% set title = "Photo of the Day" %}
            {% set class = "history" %}
            {% set bannerTitle = "Jump Back In Time." %}
            {% set bannerIconSrc = "icons/eye.png" %}
        {% endif %}
        <div class="coverContainer {{class}}">
            <h1>{{title}}</h1>
        </div>

        {% if type == "blogArticles" %}
        <div class="para">
            <h2>Share Your Story Here!</h2>
            <p>
                Have something interesting, fun, adventerous, or random happen to you?
                Share your travel stories here! We'd love to hear about what's been happening
                around the Gate. Your story could be featured here on our travel blog.
                Read on about some of your fellow travelers' experiences, it's chicken
                soup for the traveling soul.
            </p><br>
            <a href="./submit.php?type=storyForm">Submit Your Story</a>
        </div>
        {% elseif type == "newsArticles" %}
        <div class="para">
            <h2>Keeping You Current at the Gate...</h2>
        </div>
        {% endif %}

        <div class="articleContainer">
            {{ include('articleHighlight.html.twig') }}
        </div>

        {{ include('banner.html.twig') }}

        <div class="bannerPhotoContainer {{class}}2">

        </div>

    </div>

    {{ include('subscribe.html.twig') }}

    {{ include('footer.html.twig') }}

</body>
</html>