<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" href="style.less">
    <link href="https://fonts.googleapis.com/css?family=Bungee|Open+Sans" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
    <script src="./JS/index.js" type="text/javascript" defer></script>
    <script src="less.js" type="text/javascript"></script>
    <title>The Dzungarian Timez</title>
</head>
<body>
    {{ include('header.html.twig') }}

    <main>
        <div class="about title">
            <h1>Resources</h1>
        </div>

        <div class="about content">
            <p>
                Most Recommended! All the popular spots are listed here. Click to view
                their pages.
            </p>

            <h2>Restaurants / Cafes</h2>
            <ul>
                <li><a href="#">Dzungarian Cafe</a></li>
                <li><a href="#">Peaceful Coffee</a></li>
                <li><a href="#">Chef Chu's</a></li>
                <li><a href="#">Little Sheep Mongolian Hot Pot</a></li>
                <li><a href="#">Old Dzungarian Noodle House</a></li>
                <li><a href="#">San Tung Eatery</a></li>
            </ul>

            <h2>Hotels / Hostels</h2>
            <ul>
                <li><a href="#">Dzungarian Gate Grand Hotel</a></li>
                <li><a href="#">Tien Shan Hotel</a></li>
                <li><a href="#">Kempinski Hotel Dzungarian</a></li>
                <li><a href="#">Mountain Side Hostel</a></li>
                <li><a href="#">Samesun Dzungarian</a></li>
                <li><a href="#">Central Station Hostel</a></li>
            </ul>

            <h2>Outdoor Gear</h2>
            <ul>
                <li><a href="#">Dzungarian Outdoor Gear Shop</a></li>
                <li><a href="#">Bike On Dzungarian</a></li>
            </ul>

        </div>
        {% set bannerTitle = "More to Explore" %}
        {% set bannerIconSrc = "icons/folded-map.png" %}
        {{ include('banner.html.twig') }}
    </main>

    {{ include('subscribe.html.twig') }}

    {{ include('footer.html.twig') }}
</body>
</html>