<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" href="style.less">
    <link href="https://fonts.googleapis.com/css?family=Bungee|Open+Sans" rel="stylesheet">
    <script src="less.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
    <script src="./JS/index.js" type="text/javascript" defer></script>
    <title>The Dzungarian Timez</title>
</head>
<body>
    {{ include('header.html.twig') }}

    <div class="para">
        <p>
            Fill in the following form to submit your story! You'll receive an email if your
            story gets posted on our blog. We're excited to hear from you!
        </p>
        <img src="https://source.unsplash.com/TkrRvwxjb_8" alt="photo">

        <form action="./submit.php?type=storySubmit" method="post">
            <div class="label">
                <label>First Name:</label><input type="text" name="fName">
            </div>
            <div class="label">
                <label>Last Name:</label><input type="text" name="lName">
            </div>
            <div class="label">
                <label>Email:</label><input type="text" name="email">
            </div>
            <div class="label">
                <label>Date:</label><input type="date" name="date">
            </div>
            <label>Your Story:</label>
            <textarea name="content" rows="20"></textarea>
            <input type="submit" value="Submit">
        </form>
    </div>

    {{ include('footer.html.twig') }}
</body>
</html>