<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" href="style.less">
    <link href="https://fonts.googleapis.com/css?family=Bungee|Open+Sans" rel="stylesheet">
    <script src="less.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
    <script src="./JS/index.js" type="text/javascript" defer></script>
    <title>Subscription Confirmed</title>
</head>
<body>
    {{ include('header.html.twig') }}

    <div class="para">
    {% if type == "subscribe" %}
        <p> You're on the list! You'll stay up to date with with the most exclusive events
            at the Gate!
        </p>
        <p> Newsletter sent to: <span>{{ email }}</span> </p>
    {% elseif type == "storySubmit" %}
        <p> Thanks {{ name }} for sending us your story! The Dzungarian community is a
            better place because of you.
        </p>
    {% elseif type == "login" %}
        <p> Incorrect username or password. Try again.</p>
    {% elseif type == "loginFail" %}
        <p> You must login to access page. </p>
    {% endif %}
    </div>

    <div></div>
    {{ include('footer.html.twig') }}
</body>
</html>