<aside>
    <p id="subscribeTitle">Get the<span>newsletter</span></h3>
    <p>Stay updated with our bi-weekly newsletter on the latest and
        greatest at the Dzungarian Gate!</p>
    <form action="./submit.php?type=subscribe" method="post">
        <input type="text" name="email">
        <input type="submit" value="Sign up">
    </form>
</aside>