<div class="eventList">

    {% for event in eventInfo %}
        <div class="article">
        <img class="articlePhoto" src="https://source.unsplash.com/{{ event.photoId }}" alt="photo">
        <div class="cardInfo">
            <h3 class="title">{{ event.title }}</h3>
            <h3>{{ event.dates }}</h3>
            <p>
                {{ event.content }}
            </p>
        </div>
    </div>
    {% endfor %}

</div>
