<div class="updateContainer">
    <div class="updateList1"><h3 class="title">Cool Eats</h3></div>
    <div class="updateList2"><h3 class="title">Upcoming Events</h3></div>
    <a href="./news.php?type=newsArticles">
        <div class="updateList3"><h3 class="title">On the Scene</h3></div>
    </a>
    <a href="./news.php?type=historyArticles">
        <div class="updateList4"><h3 class="title">Get Educated</h3></div>
    </a>
</div>